<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Hotels</title>

</head>

<body ng-app="myApp">

  <section class="bg-light" id="portfolio" ng-controller="HotelDemoCtrl">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Hotels</h2>
          <h3 class="section-subheading text-muted">Here you can find our best hotels</h3>
        </div>
      </div>
      <select ng-model="page_size" ng-change="get_hotels(0, page_size)">
        <option value="6">6</option>
        <option value="12">12</option>
        <option value="24">24</option>
        <option value="36">36</option>
      </select><br><br>
      <div class="row">
        <!-- Hotels Grid -->
        <div class="col-md-4 col-sm-6 portfolio-item" ng-repeat="hotel in hotels">
          <a class="portfolio-link" data-toggle="modal" ng-click="openModal(hotel)">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{{hotel.img}}">
          </a>
          <div class="portfolio-caption">
            <h6>{{hotel.name}}</h6>
            <p class="text-muted">{{hotel.destination}}</p>
          </div>
        </div>
      </div>
      <button ng-click="next()" ng-disabled="no_more" type="button" class="btn btn-success" style="float: right;background-color: #fed136;border: none">Next</button>
      <button ng-click="previous()" ng-disabled="page == 1" type="button" class="btn btn-success" style="float: right; margin-right: 2px;background-color: #fed136;border: none">Previous</button>

    </div>

    <script type="text/ng-template" id="ModalContent.html">
      <div ng-controller="bookCtrl">
            <form class="modal-content animate">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title">{{hotel.name}}</h5>
                  <span ng-click="cancel()" class="close">&times;</span>
                </div>
            
                <div class="modal-body" id="modal-body"> 
                  <div class="form-group">
                      <div class="form-row">
                        <div class="col-md-6">
                          <div class="form-label-group">
                            <img class="hoteli" src="{{hotel.img}}">
                          </div><br>
                          <div class="form-label-group">
                            <ul class="lista"><b>
                              <li>Free parking</li>
                              <li>Spa and wellness centre</li>
                              <li>Swimming pool</li>
                              <li>Free WiFi</li>
                              <li>Bar</li></b>
                            </ul>
                          </div>
                          <p>Click<a ng-click="cancel()" href="#!about"> here </a>to read more!<p>
                        </div>
                        <div class="col-md-6">
                            <div class="form-label-group">
                                <label>Destination:<b> {{hotel.destination}}</b></label>
                            </div>
                            <div class="form-label-group">
                                <label>Check in:</label>
                                <input ng-model="book.checkIn" type="date" name="checkIn" class="form-control">
                            </div>
                            <div class="form-label-group">
                                <label>Check out:</label>
                                <input ng-model="book.checkOut" type="date" name="checkOut" class="form-control">
                            </div><br>
                            <div class="form-label-group">
                                <select ng-model="book.adults" name="adults" class="sel form-control" ng-options="x for x in adults"></select>
                            </div>
                            <div class="form-label-group">
                                <select ng-model="book.children" name="children" class="sel form-control"
                                    ng-options="x for x in children"></select>
                            </div>
                            <div class="form-label-group">
                                <select ng-model="book.rooms" name="rooms" class="sel form-control" ng-options="x for x in rooms"></select>
                            </div>
                          </div>
                      </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="help signup btn btn-primary" disabled>Book<span>Please log in!</span></button>
                </div>
            </form>
          </div>
        </script>
  </section>
</body>

</html>