<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hotels</title>

</head>

<body ng-app="myApp">
    <section class="bg-light" id="portfolio" ng-controller="HotelDemoCtrl">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Hotels</h2>
                    <h3 class="section-subheading text-muted">Here you can find our best hotels</h3>
                </div>
            </div>
            <select ng-model="page_size" ng-change="get_hotels(0, page_size)">
                <option value="6">6</option>
                <option value="12">12</option>
                <option value="24">24</option>
                <option value="36">36</option>
            </select>
            <input type="search" style="float:right" placeholder="Search:" ng-model="searchBox.$" ng-change="get_hotels(0, $scope.page_size)">
            <select style="float:right;width: 15%; margin-right: 20px;" ng-model="searchBox.destination" ng-change="get_hotels(($scope.page - 1) * $scope.page_size, $scope.page_size)">
                <option value="">Select mountain:</option>
                <option value="Bjelašnica">Bjelašnica</option>
                <option value="Jahorina">Jahorina</option>
                <option value="Vlašić">Vlašić</option>
            </select>
            <br><br>
            <div class="row">
                <!-- Hotels Grid -->
                <div class="col-md-4 col-sm-6 portfolio-item" ng-repeat="hotel in hotels | filter: searchBox">
                    <a class="portfolio-link" data-toggle="modal" ng-click="openModal(hotel)">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="{{hotel.img}}">
                    </a>
                    <div class="portfolio-caption">
                        <h6>{{hotel.name}}</h6>
                        <p class="text-muted">{{hotel.destination}}</p>
                    </div>
                </div>
            </div>
            <button ng-click="next()" ng-disabled="no_more" type="button" class="btn btn-success" style="float: right;background-color: #fed136;border: none">Next</button>
            <button ng-click="previous()" ng-disabled="page == 1" type="button" class="btn btn-success" style="float: right; margin-right: 2px;background-color: #fed136;border: none">Previous</button>

        </div>

        <!--Hotel Modals -->
        <script type="text/ng-template" id="ModalContent.html">
        <div ng-controller="bookCtrl">
        <form class="modal-content animate">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title" ng-bind="book.hotelName"></h5>
                <span ng-click="cancel()" class="close">&times;</span>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6" class="bg-light" id="portfolio">
                            <div class="row">
                                <!-- Hotels Grid -->
                                <div class="col-md-4 col-sm-6 hoteli-item">
                                    <a class="hoteli-link" data-toggle="modal" ng-click="openGalleryModal(hotel)">
                                        <div class="hoteli-hover">
                                            <div class="hoteli-hover-content">
                                                <i class="fas fa-plus fa-3x"></i>
                                            </div>
                                        </div>
                                        <img class="hoteli" src="{{hotel.img}}">
                                    </a>
                                </div>
                            </div><br>
                            <div class="form-label-group">
                                <ul class="lista"><b>
                                        <li>Free parking</li>
                                        <li>Spa and wellness centre</li>
                                        <li>Swimming pool</li>
                                        <li>Free WiFi</li>
                                        <li>Bar</li>
                                    </b>
                                </ul>
                            </div>
                            <p>Click<a ng-click="cancel()" href="#!about"> here </a>to read more!</p>
                        </div>
                        <div class="col-md-6">
                            <div class="form-label-group">
                                Destination: <b><label ng-bind="book.destination"></label></b>
                            </div>
                            <div class="form-label-group">
                                <label>Check in:</label>
                                <input ng-model="book.checkIn" type="date" min="01/15/2019" name="checkIn" class="form-control">
                            </div>
                            <div class="form-label-group">
                                <label>Check out:</label>
                                <input ng-model="book.checkOut" type="date" name="checkOut" class="form-control">
                            </div><br>
                            <div class="form-label-group">
                                <select ng-model="book.adults" name="adults" class="sel form-control" ng-options="x for x in adults"></select>
                            </div>
                            <div class="form-label-group">
                                <select ng-model="book.children" name="children" class="sel form-control"
                                    ng-options="x for x in children"></select>
                            </div>
                            <div class="form-label-group">
                                <select ng-model="book.room" ng-change="selectedItemChanged()" class="sel form-control" ng-options="x for x in rooms"></select>
                            </div>
                            <div class="form-label-group">
                                <input ng-model="book.price" type="text" class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="modal-footer">
                    <button class="signup btn btn-primary" style="float:none;" ng-disabled="check_login(); disabledHotel" ng-class="hideBookHotel"
                    ng-click="bookHotel()">Book<span ng-show="hoverEditHotel" class="animate-show">
                        Please login!
                    </span></button>               
                </div>
        </form>
    </div>
    </script>

        <!--Gallery Modals -->
        <script type="text/ng-template" id="GalleryModal.html">
            <div ng-controller="bookCtrl">
                <div class="modal-body" id="modal-body">
                    <span ng-click="cancel()" class="close">&times;</span>
                    <div class="container slider">
                        <img style="width:100%; height:auto" ng-repeat="photo in hotel.images" class="slide" ng-swipe-right="showPrev()" ng-swipe-left="showNext()" ng-show="isActive($index)" ng-src="{{photo}}" />
                        <a class="arrow prev" ng-click="showPrev()"></a>
                        <a class="arrow next" ng-click="showNext()"></a>
                        <ul class="navi">
                            <li ng-repeat="photo in hotel.images" ng-class="{'active':isActive($index)}">
                                <img src="{{photo}}" alt="{{photo.desc}}" title="{{photo.desc}}" ng-click="showPhoto($index);" />
                            </li>
                        </ul>
                    </div>         
                </div>
            </div>
        </script>
    </section>
</body>

</html>